html {
    -ms-overflow-style: scrollbar;
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 25px;
    padding-bottom: 75px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
}



/* styles for validation helpers */
.field-validation-error {
    background-color: #FF0039;
    border-color: #F0005E;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 13px;
}

    .field-validation-error > p,
    .field-validation-error > ul {
        margin-bottom: 0;
    }

        .field-validation-error > p + p {
            margin-top: 5px;
        }

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #F0005E;
}

textarea.input-validation-error {
    outline: none !important;
    border: 1px solid #F0005E;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    background-color: #FF0039;
    border-color: #F0005E;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 13px;
}

    .validation-summary-errors > p,
    .validation-summary-errors > ul {
        margin-bottom: 0;
    }

        .validation-summary-errors > p + p {
            margin-top: 5px;
        }

.validation-summary-valid {
    display: none;
}